attrs==19.3.0
boto==2.49.0
boto3==1.14.7
botocore==1.17.7
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
Cython==0.29.20
docutils==0.15.2
gensim==3.8.3
hdbscan==0.8.26
idna==2.9
importlib-metadata==1.6.0
jmespath==0.10.0
joblib==0.15.1
kiwisolver==1.2.0
llvmlite==0.33.0
matplotlib==3.2.2
more-itertools==8.2.0
numba==0.50.0
numpy==1.19.0
packaging==20.3
pandas==1.0.5
Pillow==7.1.2
pluggy==0.13.1
py==1.8.1
pynndescent==0.4.7
pyparsing==2.4.7
pytest==5.4.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
s3transfer==0.3.3
scikit-learn==0.23.1
scipy==1.5.0
six==1.15.0
smart-open==2.0.0
tbb==2019.0
threadpoolctl==2.1.0
umap-learn==0.4.4
urllib3==1.25.9
wcwidth==0.1.9
wordcloud==1.7.0
zipp==3.1.0
